.rotate{
  // background-color: pink;
  display: flex;
  justify-content: center;
}


.rotate:hover .twitter-rotate-x{
  perspective: 300px;
  animation: twitter-rotate-x 5s infinite linear;
}

@keyframes twitter-rotate-x {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}


.rotate:hover .twitter-rotate-y{
  perspective: 300px;
  animation: twitter-rotate-y 5s infinite linear;
}

@keyframes twitter-rotate-y {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.rotate:hover .twitter-rotate-z{
  perspective: 300px;
  animation: twitter-rotate-z 5s infinite linear;
}

@keyframes twitter-rotate-z {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
