.sprite{
  background-color: lightblue;
}

.character{
  width: 256px;
  height: 256px;
  background-image:url("http://res.cloudinary.com/deh9l9lyq/image/upload/v1493355984/sprite_k9lytz.png");

  animation: run .7s steps(6) infinite, slide 3s steps(100) infinite;
  // margin-right: 100%
}

@keyframes run {
  100% {background-position: -1536px; }
}
@keyframes slide {
  100% {margin-left: 100%}
}
